        body {
            background-color: #f2f4ff;
        }

        .hero {
            background-color: #6c7ae0;
            color: white;
            padding: 100px 20px;
            text-align: center;
        }

        .nav-link {
            color: #555;
            font-weight: 500;
        }

        .nav-link:hover {
            color: #0d6efd;
        }

        .content {
            padding: 40px 20px;
        }

        /* HOVER EFFECT GALERI & KARYA */
        .hover-card {
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .hover-card:hover {
            transform: translateY(-10px) scale(1.03);
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
        }

        .karya-card {
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .karya-card:hover {
            transform: translateY(-12px) scale(1.04);
            box-shadow: 0 15px 35px rgba(0,0,0,0.25);
        }



        /* NAVBAR FULL LEBAR */
        .navbar-box {
            background-color: white;
            padding: 18px 0;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            margin-top: 30px;
        }

        /* KOTAK KONTEN */
        .content-box {
            background-color: #ffffff;
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }